name: lint

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]


jobs:
  lint-readme:
    name: readme
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: cloudposse/build-harness@0.38.0
        with:
          entrypoint: /usr/bin/make
          args: readme/lint

  super-linter:
    name: superlinter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Lint Code Base
        uses: github/super-linter/slim@v4
        env:
          VALIDATE_ALL_CODEBASE: false
          VALIDATE_NATURAL_LANGUAGE: false
          DEFAULT_BRANCH: master
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
