name: readme/build
on: [pull_request_review_comment]
jobs:
  build:
    name: 'Rebuild README.md'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/bin/filter@master 
      args: "issue_comment update/readme"
    - uses: actions/checkout@master
    - uses: cloudposse/build-harness@add-actions
      with:
        entrypoint: /usr/bin/make
        args: readme
    - uses: cloudposse/actions/git-push@init
      env:
        GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        GIT_COMMIT_MESSAGE: "Updated README.md"
